record(calc, "VERA:CALCULATION1")
{
  field("DESC", "AI_00:INPUT1 + AI_00:INPUT2")
  field("INPA", "VERA:8:INPUT1:VALUE")
  field("INPB", "VERA:8:INPUT2:VALUE")
  field("SCAN", ".1 second")
  field("CALC", "A+B")
}